%table
  %thead
    %tr
      %th Type
      %th Record
<% if owner? %>      %th Owner
<% end %>      %th State
      %th
  %tbody
    - @approvals.each do |approval|
      %tr
        %td= approval.item_type.classify
        %td= approval.item.try(:to_s) || approval.item.id
<% if owner? %>        %td= render :partial => 'owner_select', :locals => {:approval => approval}
<% end %>        %td= approval.state
        %td.actions
          = link_to('Approve', approve_approval_path(approval))
          = link_to('Reject', reject_approval_path(approval))

